﻿@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>
<form>
    <textarea id ="chat"class="form-control" style="height:200px"></textarea>
    <input type="text" id="msg-input" placeholder="Type text" />
    <input type="button" class="btn btn-danger " id="send-btn" value="Send" />
</form>
<canvas id="canvas" width="500" height="300" style="border:10px gainsboro dashed"></canvas>
<input type="button" class="btn btn-danger " id="clear-btn" value="Clear" />
@section Scripts
{
    <script src="http://cdnjs.cloudflare.com/ajax/libs/fabric.js/1.6.6/fabric.min.js"></script>
    <script type="text/javascript" >
        
        var initialiseCanvas = function () {
            document.puneCanvas = new fabric.Canvas('canvas');
            document.puneCanvas.isDrawingMode = true;

            var pathCreated = function (e) {
                console.log(e.path);
                $.connection.puns.server.sendPath(JSON.stringify(e.path));
            };

            document.puneCanvas.on({
                    'path:created': pathCreated
                });
        };
        $("#clear-btn").click(function () {            
            $.connection.puns.server.sendClearRequest();
        });
        $.connection.puns.client.clear = function () {
            document.puneCanvas.clear();
        };
        $.connection.puns.client.drawPath =
            function (pathString) {
                var path = JSON.parse(pathString);
                fabric.util.enlivenObjects([path], function (objects) {
                    objects.forEach(function (o) {
                        document.puneCanvas.add(o);
                    });
                });
            }
        $.connection.hub.start().then(function () {
            console.log("Connected!:)");
            initialiseCanvas();
            $.connection.puns.server.drawRequest();
        });
        $("#send-btn").click(function () {

            var msg = $("#msg-input").val();
            $.connection.chat.server.sendMessage(msg);
            $("#msg-input").val("");
        });

        $.connection.chat.client.sendMessageToAll = function (message) {
            console.log(message);
            $("#chat").append(message + "\n");
        };
    </script>
}